body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    width:max-content;
}
.App{
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px 16px;
    background-color: var(--gray-200);
    min-height: 100vh;
    height: 100%;

}

#canvas{
    border:1px solid var(--border-neutral-subtle);
    z-index:2;
}

.lower-canvas{
    position: initial !important;
}

.Toolbar{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background-neutral-container);
    padding: 8px 8px;
    border-radius: 4px;
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    left:16px;
    &:empty{
        display: none;
    }
}
.Settings{
    position: fixed;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    gap: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-neutral-container);
    padding: 24px 8px;
    border-radius: 4px;
    text-align: left;
    &:empty{
        padding: 0;
    }
}

.bottom{
    position:relative;
    display: flex;
    height: 60px;
    gap:12px;
    justify-content: center;
    .Toolbar{
        flex-direction: row;
        align-items: center;
        transform: none;
        width: min-content;
        top: auto;
        left: auto;
        position: relative;
    }
}
.progress-bar{
    width:100%;
    height:10px;
    background-color: white;
    border: 1px solid var(--border-neutral-subtle);
    margin-top: 10px;
    position: absolute;
    top:-28px;
    left:0;
    right: 0;
    border-radius: 6px;
    overflow: hidden;
}

.progress{
    height:100%;
    background-color: var(--brand-2);
    width:0%;
    transition: width 0.2s ease-in-out;
}

.upload-message{
    margin-top: 10px;
    font-size: 16px;
    color: var(--black);
    text-align: center;
    position: absolute;
    top:-56px;
    left:0;
    right: 0;  
}